body {
    background-color: black;
    width: 100%;
}

.event {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: solid white 1px;
}

.date {
    color: white;
}

.location {
    color: white;
}

.btn-right {
    background-color: white;
    color: black
}
